In [1]:
#checking whether date is valid
date=input("enter the date: ")
dd,mm,yy=date.split('/')
dd=int(dd)
mm=int(mm)
yy=int(yy)
if(mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
    max1=31
elif(mm==4 or mm==6 or mm==9 or mm==11):
    max1=29
else:
    max1=28
if(mm<1 or mm<12):
    print("date is invalid.")
elif(dd<1 or dd>max1):
    print("date is invalid.")
elif(dd==max1 and mm!=12):
    dd=1
    mm=mm+1
    print("the incremented date is: ",dd,mm.yy)
else:
    dd=dd+1
    print("the incremented date is: ",dd,mm,yy)

enter the date: 5/12/1992
the incremented date is:  6 12 1992

In [2]:
#HEight is cm then convert into feet and inches
cm=int(input("enter the height in centimeters:"))
inches=0.394*cm
feet=0.0328*cm
print("the length in inches",round(inches,2))
print("the length in feet",round(feet,2))

enter the height in centimeters:150
the length in inches 59.1
the length in feet 4.92

In [3]:
#Conversion of C to F and vice versa
celsius=int(input("enter the temperature in celcius:"))
f=(celsius*1.8)+32
print("temperature in farenheit is:",f)

enter the temperature in celcius:45
temperature in farenheit is: 113.0

In [4]:
#prime factors of an integer
n=int(input("enter an integer:"))
print("factors are:")
i=1
while(i<=n):
    k=0
    if(n%i==0):
        j=1
        while(j<=i):
            if(i%j==0):
                k=k+1
            j=j+1
        if(k==2):
            print(i)
    i=i+1

enter an integer:64
factors are:
2

In [5]:
#7Divisors of an integer
n=int(input("enter an integer:"))
print(("the divisors of the number are:"))
for i in range(1,n+1):
    if(n%i==0):
        print(i)

enter an integer:45
the divisors of the number are:
1
3
5
9
15
45

In [6]:
#8table of a given number
n=int(input("enter the number to print the tables for:"))
for i in range(1,11):
    print(n,"X",i,"=",n*1)

enter the number to print the tables for:16
16 X 1 = 16
16 X 2 = 16
16 X 3 = 16
16 X 4 = 16
16 X 5 = 16
16 X 6 = 16
16 X 7 = 16
16 X 8 = 16
16 X 9 = 16
16 X 10 = 16

In [7]:
#9 sum of the negative numbers , sum of positive numbers(even , odd)
n=int(input("enter the number of elements to be in the list:"))
b=[]
for i in range(0,n):
    a=int(input("element: "))
    b.append(a)
sum1=0
sum2=0
sum3=0
for j in b:
    if(j>0):
        if(j%2==0):
            sum1=sum1+j
        else:
            sum2=sum2+j
    else: 
        sum3=sum3+j
print("sum of all positive even numbers:",sum1)
print("sum of all positive odd numbers:", sum2)
print("sum of all negative numbers:",sum3)

enter the number of elements to be in the list:5
element: 2
element: 3
element: 5
element: 9
element: -9
sum of all positive even numbers: 2
sum of all positive odd numbers: 17
sum of all negative numbers: -9

In [ ]:
#10 print largest even and largest odd number
n=int(input("enter the nummber of elements to be in the list:"))
b=[]
for i in range(0,n):
    a=int(input("element: "))
    b.appned(a)
c=[]
d=[]
for i in b:
    if(i%2==0):
        c.append(i)
    else:
        d.append(i)
c.sort()
d.sort()
count1=0
count2=0
for k in c:
    count1=count1+1
for j in d:
    count2=count2+1
print("largest even number:",c[count-1])
print("largest odd number:",d[count2-1])